<app-modal-wrapper #appModalWrapper title="Thêm mới thông tin nguyên liệu" size="modal-default">
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Tên</label>
            <div class="col-md-10">
                <input [(ngModel)]="material.name" type="text" class="form-control" placeholder="Nhập tên"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Đơn vị</label>
            <div class="col-md-10">
                <input [(ngModel)]="material.unit" type="text" class="form-control" placeholder="Nhập đơn vị"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Giá</label>
            <div class="col-md-10">
                <input [(ngModel)]="material.price" type="number" class="form-control" placeholder="Nhập giá"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Nội dung</label>
            <div class="col-md-10">
                <input [(ngModel)]="material.content" type="text" class="form-control" placeholder="Nhập nội dung"/>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal-footer justify-content-between">
        <button (click)="appModalWrapper.hide()" type="button" class="btn btn-light">Đóng</button>
        <button (click)="saveMaterial()"  type="button" class="btn btn-success">Lưu</button>
    </div>
</app-modal-wrapper>
