<div class="float-right" style="cursor: pointer">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-ellipsis-h" *ngIf="title == null; else titleText"></i>
    <ng-template #titleText>
      {{title}}
    </ng-template>
  </button>
  <div class="dropdown-menu os-viewport" [attr.aria-labelledby]="menuId" style="overflow-y: scroll; max-height: 82px">
    <ng-content></ng-content>
  </div>
</div>
