<section class="content">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-xl-1">
                <div class="card">
                    <div class="card-body" style="height: 94vh">
                        <div class="row">
                            <div class="card-body p-1 text-info card w-100 border-info border-table" (click)="loadProducts()">
                                <button [ngClass]="{active : !this.selectedCate || !this.selectedCate.id}" class="btn btn-block btn-outline-dark" type="button"><b>Tất cả</b></button>
                            </div>
                            <div *ngFor="let i of categoryList" class="card w-100 border-info border-table">
                                <div class="card-body p-1 text-info" (click)="chooseCategory(i)">
                                    <button [ngClass]="{active : this.selectedCate && this.selectedCate.id === i.id}" class="btn btn-block btn-outline-dark" type="button"><b>{{i.name}}</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--           SẢn phẩm-->
            <div class="col-xl-5">
                <div class="card pt-3" style="height: 94vh">
                    <div class="card-body table-responsive pt-0 pb-0">
                        <div class="row">
                            <div *ngFor="let i of productList" class="col-md-3">
                                <div class="card">
                                    <img class="card-img-top" onerror="this.onerror=null;this.src='../../../../../../assets/img/avatar04.png';" [src]="i.image"  [alt]="i.name">
                                    <div class="pt-1">
                                        <h6 class="text-center">{{i.name}}</h6>
                                        <div class="row">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <button (click)="addProductSize(e)" class="col-md-3 btn btn-dark p-1 mr-1" type="button" *ngFor="let e of i.productSizeList">
                                                {{e.size.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            Bill-->
            <div class="col-6">
                <div class="card">
                    <div class="card-body table-responsive p-0" style="height: 66vh">
                        <table class="table table-head-fixed text-nowrap" style="height: 150px;">
                            <thead>
                            <tr>
                                <td colspan="1" style="text-align:center; width: 9%;"><label>Sản phẩm</label></td>
                                <td colspan="1" style="text-align:center; width: 9%;"><label>Kích cỡ</label></td>
                                <td colspan="1" style="text-align:center; width: 9%;"><label>Số lượng</label></td>
                                <td colspan="1" style="text-align:center; width: 9%;"><label>Đơn giá</label></td>
                                <td colspan="1" style="text-align:center; width: 9%;"><label>THÀNH TIỀN</label></td>
                                <td colspan="1" style="text-align:center; width: 6%;border: 0px;"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let detail of billFull.billProductSizeList; index as index">
                                <td colspan="1" class="text-center">
                                    {{detail.productSize.product.name}}
                                </td>
                                <td colspan="1" class="text-center">
                                    {{detail.productSize.size.name}}
                                </td>
                                <td colspan="1">
                                    <div class="col-12 input-group">
                                        <input (change)="changeQuantity(index)" [(ngModel)]="detail.quantity"
                                               type="number" class="form-control text-right">
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right" class="text-right">
                                        {{detail.productSize.price | number}}
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right" class="text-right">
                                        {{detail.price | number}}
                                    </div>
                                </td>
                                <td colspan="1" style="border: 0px">
                                    <button class="btn btn-danger text-center" style=""
                                            (click)="deleteDetail(index)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body table-responsive p-0" style="max-height: 22vh">
                        <table class="table table-head-fixed text-nowrap" style="height: 100px;">
                            <tfoot>
                            <tr hidden>
                                <td colspan="1" style=" width: 9%;"><label>Sản phẩm</label></td>
                                <td colspan="1" style=" width: 9%;"><label>Kích cỡ</label></td>
                                <td colspan="1" style=" width: 9%;"><label>Số lượng</label></td>
                                <td colspan="1" style=" width: 9%;"><label>Đơn giá</label></td>
                                <td colspan="1" style=" width: 9%;"><label>THÀNH TIỀN</label></td>
                                <td colspan="1" style=" width: 6%;border: 0px;"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-12 text-right">
                                        <label>Thành tiền:</label>
                                    </div>
                                </td>
                                <td colspan="1" style="width: 200px">
                                    <div class="col-12 text-right">
                                        {{this.billFull.getTotal()| number}}
                                    </div>
                                </td>
                                <td style="border: 0px" colspan="1">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-12 text-right">
                                        <div style="text-align: right">Tiền phiếu giảm giá:</div>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right" >
                                        {{this.selectedPromotion.typePromotion === TYPE_PROMOTION_CONSTANT.FIXED ? this.selectedPromotion.amount : this.billFull.getTotal() * this.selectedPromotion.amount /100 |  number}}
                                    </div>
                                </td>
                                <td style="border: 0px" colspan="1">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-12 text-right">
                                        <label style="text-align: right">Thanh toán:</label>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right">
                                        {{this.billFull.amount| number}}
                                    </div>
                                </td>
                                <td style="border: 0px" colspan="1">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-12 text-right">
                                        <label style="text-align: right">Tiền khách đưa:</label>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right">
                                        <input [(ngModel)]="moneyGiven" (change)="excessCash()" type="number" class="form-control text-right">
                                    </div>
                                </td>
                                <td style="border: 0px" colspan="1">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-12 text-right">
                                        <label class="text-right">Tiền thừa:</label>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="col-12 text-right">
                                        {{excessMoney| number}}
                                    </div>
                                </td>
                                <td style="border: 0px" colspan="1">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-between" style="height: 6vh">
                        <div>
                            <button (click)="closeAddBill()" class="btn btn-light mr-1">Đóng</button>
                        </div>
                        <div>
                            <button (click)="print()"  type="button" class="btn btn-success">In</button>
                            <button (click)="addPromotionBillComponent.show()"  type="button" class="btn btn-success mr-1">Voucher</button>
                            <button (click)="saveBill()"  type="button" class="btn btn-success">Lưu</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<app-add-promotion-bill #addPromotionBillComponent (saveCompleteEvent)="choosePromotion($event)"></app-add-promotion-bill>


<div class="adi-print-section">
    <meta charset="UTF-8">
    <table bgcolor="white" class="w-50">
        <thead>

        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 27px">PKT SUPREME COFFEE SHOP</label></td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><div style=" font-size: 15px">273 An dương vương, Q.5</div></td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 22px">HOTLINE: 0378411656</label></td>
        </tr>
        <tr colspan="6">
            <td colspan="1"><i>Ngày: </i></td>
            <td colspan="2"><label>{{formatDate(billFull.createdDate)}}</label></td>
            <td colspan="2" class="text-right">Số HĐ: </td>
            <td colspan="1" class="text-right">{{billFull.number}}</td>
        </tr>
        <tr colspan="6">
            <td colspan="1"><i>Thu ngân: </i></td>
            <td colspan="5"><label>{{billFull.employee.fullName}}</label></td>
        </tr>
        </thead>
        <tbody>
        <tr class="border-top border-bottom">
            <td colspan="2" class="text-center" style=" width: 9%;"><label>Sản phẩm</label></td>
            <td colspan="1" class="text-center" style=" width: 9%;"><label>Kích cỡ</label></td>
            <td colspan="1" class="text-center" style=" width: 9%;"><label>Số lượng</label></td>
            <td colspan="1" class="text-right" style=" width: 9%;"><label>Đơn giá</label></td>
            <td colspan="1" class="text-right" style=" width: 9%;"><label>Thành tiền</label></td>
        </tr>
        <tr *ngFor="let detail of billFull.billProductSizeList; index as index">
            <td colspan="2" class="text-center">
                {{detail.productSize.product.name}}
            </td>
            <td colspan="1" class="text-center">
                {{detail.productSize.size.name}}
            </td>
            <td colspan="1" class="text-center">
                {{detail.quantity}}
            </td>
            <td colspan="1">
                <div class="col-12 text-right">
                    {{detail.productSize.price | number}}
                </div>
            </td>
            <td colspan="1">
                <div class="col-12 text-right">
                    {{detail.price | number}}
                </div>
            </td>
        </tr>
        <tr class="border-top">
            <td colspan="4">
                <div class="col-12">
                    <label class="text-bold text-lg">Thành tiền:</label>
                </div>
            </td>
            <td colspan="2" >
                <div class="col-12 text-right text-bold">
                    {{this.billFull.getTotal()| number}}
                </div>
            </td>
        </tr>
        <tr class="border-bottom">
            <td colspan="4">
                <div class="col-12">
                    Tiền phiếu giảm giá:
                </div>
            </td>
            <td colspan="2">
                <div class="col-12 text-right" >
                    {{this.selectedPromotion.typePromotion === TYPE_PROMOTION_CONSTANT.FIXED ? this.selectedPromotion.amount : this.billFull.getTotal() * this.selectedPromotion.amount /100 |  number}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="col-12">
                    <label class="text-bold text-lg">Thanh toán:</label>
                </div>
            </td>
            <td colspan="2">
                <div class="col-12 text-right text-bold">
                    {{this.billFull.amount| number}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="col-12 ">
                    <label class="text-bold text-lg">Tiền khách đưa:</label>
                </div>
            </td>
            <td colspan="2">
                <div class="col-12 text-right text-bold">
                    {{moneyGiven| number}}
                </div>
            </td>
        </tr>
        <tr class="border-bottom">
            <td colspan="4">
                <div class="col-12">
                    Tiền thừa:
                </div>
            </td>
            <td colspan="2">
                <div class="col-12 text-right">
                    {{excessMoney| number}}
                </div>
            </td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 15px">Giá sản phẩm đã bao gồm VAT 10%</label></td>
        </tr>
        <tr colspan="6" class="border-bottom">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 15px">Password wifi: dct117c1</label></td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 15px">Miễn phí giao hàng cho hóa đơn trên 50.000 VNĐ</label></td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><div style=" font-size: 15px">Đặt hàng tại www.pktsupremecoffeeshop.com</div></td>
        </tr>
        <tr colspan="6">
            <td colspan="6" style="text-align:center;"><label style=" font-size: 15px;font-family: 'Lucida Handwriting'" class="font-italic">Cảm ơn và hẹn gặp lại!</label></td>
        </tr>
        </tbody>
    </table>
</div>
