<app-modal-wrapper #appModalWrapper title="Cập nhật mới thông tin tồn kho" size="modal-default">
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Nguyên liệu</label>
            <div class="col-md-9">
                <p-autoComplete inputStyleClass="form-control"
                                [(ngModel)]="material" [suggestions]="materialList"
                                (completeMethod)="searchMaterial($event)" field="name" size="100%"
                                placeholder="Nhập tên nguyên liệu" [minLength]="1" [autoHighlight]="true"
                                emptyMessage="Không tìm thấy">
                </p-autoComplete>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Số lượng</label>
            <div class="col-md-9">
                <input [(ngModel)]="inventory.amount" type="number" class="form-control" placeholder="Nhập số lượng"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">SL kiểm tra</label>
            <div class="col-md-9">
                <input [(ngModel)]="inventory.amountCheck" type="number" class="form-control" placeholder="Nhập SL kiểm tra"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Mô tả</label>
            <div class="col-md-9">
                <input [(ngModel)]="inventory.description" type="text" class="form-control" placeholder="Nhập mô tả"/>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal-footer justify-content-between">
        <button (click)="appModalWrapper.hide()" type="button" class="btn btn-light">Đóng</button>
        <button (click)="saveInventory()"  type="button" class="btn btn-success">Lưu</button>
    </div>
</app-modal-wrapper>
