<app-modal-wrapper #appModalWrapper title="Thêm mới thông tin chi phí" size="modal-default">
    <div class="modal-body">
        <div class="row form-group">
            <label class="col-md-2">Ngày</label>
            <div class="col-md-10">
                <app-date-control (changeDateEvent)="getNumber()" [(ngModel)]="cost.createdDate" name="birthDate" id="employee_add_birth_date"></app-date-control>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Mã</label>
            <div class="col-md-10">
                <input [(ngModel)]="cost.code" type="text" class="form-control" placeholder="Nhập nội dung"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Số</label>
            <div class="col-md-10">
                <input [(ngModel)]="cost.number" type="text" class="form-control" placeholder="Nhập nội dung"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Loại</label>
            <div class="col-md-10">
                <select [(ngModel)]="cost.costCategory.id" class="form-control" id="employee_add_role">
                    <option *ngFor="let item of costCategoryList" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Tổng tiền</label>
            <div class="col-md-10">
                <input [(ngModel)]="cost.amount" type="number" class="form-control" placeholder="Nhập Tổng tiền"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Nội dung</label>
            <div class="col-md-10">
                <input [(ngModel)]="cost.description" type="text" class="form-control" placeholder="Nhập nội dung"/>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal-footer justify-content-between">
        <button (click)="appModalWrapper.hide()" type="button" class="btn btn-light">Đóng</button>
        <button (click)="saveCost()"  type="button" class="btn btn-success">Lưu</button>
    </div>
</app-modal-wrapper>
