<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi phí</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active text-dark">Chi phí</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <app-data-table [dataTable]="search" [columnNumber]="5" (changeEvent)="dataTableChange($event)">
                            <div class="right-button row justify-content-end input-group">
                                <button class="btn btn-success ml-2" type="button" (click)="appAddCost.show()" >
                                    <i class="fas fa-plus"> </i>
                                    <b> Thêm mới</b>
                                </button>
                            </div>
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Số</th>
                                <th>Danh mục</th>
                                <th>Tổng số tiền</th>
                                <th>Nội dung</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let e of search.result">
                                <td>{{e.code}}</td>
                                <td>{{e.number}}</td>
                                <td>{{e.costCategory.name}}</td>
                                <td>{{e.amount}}</td>
                                <td>{{e.description}}</td>
                                <td>
                                    <button class="btn btn-success mr-1" (click)="appUpdateCost.show(e)" type="button">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="confirmDelete(e)" type="button">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </app-data-table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->
<app-add-cost #appAddCost (saveCompleteEvent)="saveCostCompleteEvent()"></app-add-cost>
<app-update-cost #appUpdateCost (saveCompleteEvent)="saveCostCompleteEvent()"></app-update-cost>
