<app-modal-wrapper #appModalWrapper title="Thêm mới danh mục chi phí" size="modal-default">
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Tên</label>
            <div class="col-md-10">
                <input [(ngModel)]="costCategory.name" type="text" class="form-control" placeholder="Nhập tên chi nhánh"/>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal-footer justify-content-between">
        <button (click)="appModalWrapper.hide()" type="button" class="btn btn-light">Đóng</button>
        <button (click)="saveCostCategory()"  type="button" class="btn btn-success">Lưu</button>
    </div>
</app-modal-wrapper>
