<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-sm-12 text-center">
                <h1>QUẢN LÝ THÔNG TIN NHÂN VIÊN</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <app-data-table [dataTable]="search" [columnNumber]="4" (changeEvent)="dataTableChange($event)">
                            <div class="right-button row justify-content-end input-group">
                                <button (click)="appAddEmployee.show()" class="btn btn-success" type="button">
                                    <i class="fas fa-plus"> </i>
                                    <b> Thêm mới</b>
                                </button>
                            </div>
                            <thead>
                            <tr>
                                <th>Họ tên</th>
                                <th>Ngày sinh</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let e of search.result">
                                <td>{{e.fullName}}</td>
                                <td>{{e.birthDate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{e.email}}</td>
                                <td>
                                    <button class="btn btn-success mr-1" (click)="appUpdateEmployee.show(e)" type="button">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="confirmDelete(e)" type="button">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </app-data-table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- modal-content -->
<app-add-employee #appAddEmployee (saveCompleteEvent)="saveEmployeeCompleteEvent()"></app-add-employee>
<app-update-employee #appUpdateEmployee (saveCompleteEvent)="saveEmployeeCompleteEvent()"></app-update-employee>
